<footer class="site-footer">
    <div class="container">
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p class="copyright">
                        <small>
                            &copy;
                            2020 Gutoys</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>