<htm>
    <head>
    </head>
    <body>
        {{>header}}
        <label>{{description}}</label>
        <form>
            <input placeholder="Searching">
            <button>Search</button>
        </form>
        {{>footer}}
    </body>
    <script src="js/indexClient.js"></script>
</htm>